.naver-webtoon-wrapper {
  border: 1px solid black;
  margin: 10px auto;
  display: flex;
  font-size: 1.15rem;
  font-weight: 600;
}
.naver-webtoon-wrapper .left-column {
  margin: 10px;
  display: flex;
  align-items: center;
}

.naver-webtoon-wrapper .right-column {
  border-left: 1px solid black;
  flex: 1;
}

.right-column .title-day {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px;
  justify-content: space-between;
}
.right-column .naver-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
}
.right-column .naver-description {
  padding: 20px;
  opacity: 0.8;
}

.right-column a {
  text-decoration: none;
  color: lightblue;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
